version: '3.7'

services:
  #Laravel App
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: unless-stopped
    tty: true
    # environment:
    #   SERVICE_NAME: app
    #   SERVICE_TAGS: dev
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    # networks:
    #   - mynet
  #Nginx Service
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    tty: true
    ports:
      - "8001:80"
      - "4431:443"
    volumes:
      - ./:/var/www/html
      - ./nginx/conf.d/:/etc/nginx/conf.d/
      # - ./nginx/ssl/:/etc/nginx/ssl/
  node:
    image: node:13-alpine
    volumes:
        - ./:/var/www/html
    stdin_open: true
    tty: true
    # env_file: .env
  postgres:
    container_name: postgres
    image: postgres:11
    environment:
        POSTGRES_PASSWORD: awbblue
        POSTGRES_USER: awbblue
        POSTGRES_DB: awbblue
    volumes:
        - ./postgres_data:/var/lib/postgresql/data
    ports: 
        - 54321:5432
  redis:
    image: redis:alpine
    ports: 
        - 6379:6379
  adminer:
    image: adminer:4
    ports:
        - 8888:8080
